[submodule "arduleader"]
	path = arduleader
	url = https://github.com/geeksville/arduleader
[submodule "japi-proxy"]
	path = japi-proxy
	url = https://github.com/geeksville/japi-proxy
[submodule "3scale-akka"]
	path = 3scale-akka
	url = git@github.com:geeksville/3scale-akka.git
[submodule "droneapi-protobuf"]
	path = droneapi-protobuf
	url = git@github.com:diydrones/droneapi-protobuf.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/geeksville/ardupilot-1.git
	branch = LogAnalyzer_Dronehub
