<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <withJansi>true</withJansi>
    <encoder>
      <!-- removed to make log shorter: %d{HH:mm:ss.SSS} [%thread] -->
      <pattern>%d{mm:ss.SSS} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
    </encoder>

    <!--  
    I think that sticking in loggers (see below) does the same thing better.
		<filter class="com.geeksville.logback.NameLevelFilter">
			<Prefix>com.geeksville</Prefix>
			<MinLevel>DEBUG</MinLevel>
		</filter>
	-->
		<filter class="com.geeksville.logback.MuteAllFilter" />
  </appender>

  <!-- Alas this didn't work - instead just use a Syslog appender and https://www.loggly.com/docs/rsyslog-manual-configuration/ 
  <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
        <inputKey>0094c0ce-d24d-484c-9a11-97b798b06956</inputKey>
  </appender>
  -->
  
  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>localhost</syslogHost>
    <facility>USER</facility>
    <suffixPattern>%d{mm:ss.SSS} %-5level %logger{36} %X{akkaSource} - %msg%n</suffixPattern>
  </appender>
    
  <!-- A logger that appears to admins over atmosphere/javascript -->
  <appender name="atmosphere" class="com.geeksville.scalatra.AtmosphereLogAppender">
    <encoder>
      <!-- removed to make log shorter: %d{HH:mm:ss.SSS} [%thread] -->
      <pattern>%d{mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
    
  <!-- See all our log msgs -->
  <logger name="com.geeksville" level="DEBUG"/>
  <logger name="com.geeksville.dapi.auth" level="INFO"/>
  
  <logger name="org.scalatra" level="DEBUG"/>
  <logger name="org.scalatra.auth" level="INFO"/>
  
  <logger name="activerecord" level="INFO"/>
  <logger name="org.eclipse" level="INFO"/>
  
  <!-- But ignore debug msgs from others -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="SYSLOG" /> 
    <appender-ref ref="atmosphere" /> 
  </root>
</configuration>
